*{
    margin: 0;
    padding:0;
    background-color: white;
    font-family: 'Mulish', sans-serif;
}
.nav-container{
    display: flex;
    justify-content: space-around;
    box-shadow: 0px 4px 5px whitesmoke;
   padding: 10px;
   position: fixed;
   z-index: 10;
   right: 0;
   left: 0;
   top: 0;
   align-items: center;
   color: #3d4152;
   
}
.left{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.right{
    display: flex;
   justify-content: space-between;
   color: #505360;
   font-weight: 50px;
    align-items: center;
    gap: 50px;
}
.right > div{
    display: flex;
    flex-flow:row;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.logo{
    width: 50px;
    gap: 40px;
    background-color: white;
}
.logo:hover{
    transform: scale(1.1);
}
.nav-container1{
    display: flex;
    flex-flow: row-wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid rgb(240, 232, 232);
    padding-bottom: 10px;
    position: relative;
    top: 80px;
}
.nav-container1 > .right-half{
    display: flex;
    gap: 20px;
    
}
.nav-container1 > .right-half > span{
    font-weight: 300;
}
.container{
    width: 80vw;
    margin: 20px auto;
}
.card-image{
    width: 250px;
}
.card-container{
    max-width: 50%;
    min-width: 50%;
    position: relative;
    margin: 0 auto;
    top: 50px;
    
}
.card{
    position: relative;
    padding: 10px;
    width: 250px;
    padding-bottom: 0px;
}
.card p{
    margin: 5px 0;
    font-weight: 100;
    color: gray;
}
.info{
    display: flex;
    flex-direction: space-evenly;
    justify-content: space-between;
    gap: 2px;
    align-items: center;
    padding: 10px 0px;
    border-bottom: 0.1px solid grey;
    font-size: 13px;
}
.star{
   font-size: 16px !important;
   background-color: #DB7C38;
}
.ratings{
    background-color: #DB7C38;
}
.rating-container{
    display: flex;
    flex-direction: space-evenly;
    justify-content: center;
    align-items: center;
    background-color: #DB7C38;
    padding: 5px 10px;
}
.bullet{
    width: 8px;
    height: 8px;
    background-color: black;
    border-radius: 50%;
}
.offer-container{
    display: flex;
    padding: 10px 0;
    border-bottom: 0.2px solid gray;
    color: #8a5848;
    gap: 10px;
}
.card:hover{
    visibility: visible;
    border: 1px solid lightslategray;
    border-color: #d3d5df;
    box-shadow: 0 4px 7px 0 rgb(218 220 230 / 60%);
    border-radius: 5px;
}
.btn{
    border: none;
    font-weight: bold;
    /* color: rgb(11,119,227); */
    color: white;
    display: block;
 text-align: center;
    margin: 5px auto;
    padding: 5px 0;
}
.card:hover .btn{
    visibility: visible;
    color: #576ed4;
    font-family: 'Mulish', sans-serif;
    font-weight: 200;
}
.card-container{
    display: grid;
    justify-content: space-around;
    grid-template-columns: repeat(4,auto);
    gap: 20px;
    position: relative;
    margin-top: 60px;
}
.footer{
    background-color: black;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 100px;
    gap: 40px;
    top: 30px;
}
.grid-item{
    background-color: black;
    display: flex;
    flex-direction: column;
    gap: 20px
}
.grid-item, h5, a, img{
    background-color: black;
    color: whitesmoke;
    text-decoration: none;
}
.grid-item h5{
    color: #808080;
}
.footer img{
    height: 80px;
    margin-left: 10px;
    border: 1px solid #808080;
    border-radius: 20px;
}
.grid-item > a:hover{
    font-weight: bold;
}
@media (max-width:800px){
    .card-container{
        grid-template-columns: repeat(2,auto);
    }
    .footer{
        grid-template-columns: repeat(2,auto);
    }
    .right{
        display: none;
    }
}
@media (max-width:600px){
    .card-container{
        grid-template-columns: auto;
        justify-items: center;
    }
    .footer{
        grid-template-columns: auto;
        gap: 20px;
    }
}
.badge{
    background-color: #393C41;
    width: 70px;
    margin: 100px;
    position: absolute;
    top: 10px;
    color: white;
    z-index: 5;
    left: 0px;
    margin: 0;
    padding: 5px;
    font-size: 12px;
}
.badge::before{
    content: '';
    width: 25px;
    height: 25px;
    display: inline-block;
    background-color: #393C41;
    position: absolute;
    z-index: -1;
    top: 4px;
    transform: skewY(15deg);
    left:0
}
